<div header>
	<div id=header__ID top-navigation class="w3-top">
		<div id=small__ID class='w3-hide-large'><a onclick="$vm.nav_click_process('home')">Clinic Online Questionnaire</a></div>
		<div id=large__ID class="w3-hide-small w3-hide-medium">
			<div id=large_img__ID>
				<img width=360 src='__HOST__/images/logo.jpg'></img>
			</div>
			<div id=large_title__ID>
				Clinic Online Questionnaire
			</div>
		</div>
	</div>
	<style>
		#header__ID{
			border-bottom:1px solid #888;
		}
		#header__ID a{
		  	cursor:pointer;
		}
		#large__ID{
			display:inline-block;
		}
		#small__ID{
			font: 180% Arial;
			font-weight: bold;
			color:#000;
			display: inline-block;
			margin: 10px 0 5px 10px;
			padding:3px 0 0 20px;
		}
		#large__ID a:hover,#small__ID a:hover{
			color:#000;
			text-decoration:none;
		}
		#small_btn__ID{
			color:#000;
			font-size:26px;
		}
		#large_img__ID{
 			float:left;
			padding:5px 0 5px 90px;
		}
		#large_title__ID{
			float:left;
			color:#888;
			font-size:260%;
			padding:20px 0 0 80px;
		}
	</style>
</div>
